<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #f4f4f4;
        }

        .navbar {
            background-color: #333;
            color: #ffffff;
            padding: 10px;
            text-align: right;
        }

        .navbar a {
            color: #ffffff;
            text-decoration: none;
            margin-left: 15px;
        }

        .navbar a:hover {
            color: #cccccc;
        }

        .main-content {
            margin: 0 auto;
            max-width: 800px;
            padding: 40px;
            text-align: center;
        }

        h1 {
            color: #333333;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/testIsAuthWork">Test des droits/rôles </a>
        <a href="/logout">Déconnexion</a>
    </div>
    <div class="main-content">
        <h1>Hello {{ username }}</h1>
    </div>
</body>
</html>
